* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

label {
  display: block;
}

div {
  margin-bottom: 20px;
}

button {
  padding: 10px 30px;
  border: none;
}

h1 {
  font-size: 5.2vw;
  text-align: center;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}
